/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
    font-family: Consolas, monospace;
    color: white;
}

/* canvases */

canvas {
    position: absolute;
}

#starCanvas1 {
    z-index: 1;
}

#starCanvas2 {
    z-index: 2;
}

#starCanvas3 {
    z-index: 3;
}

#entityCanvas {
    z-index: 10;
}

/* overlay */

#overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(
            to bottom,
            black,
            transparent 15%,
            transparent 85%,
            black
        ),
        linear-gradient(
            to right,
            black,
            transparent 10%,
            transparent 90%,
            black
        );
    z-index: 20;
}

/* screens */

.screen {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.screen.visible {
    display: flex;
}

.screen p {
    margin: 5px 0px;
}

h1,
h2 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    color: yellow;
    margin-bottom: 30px;
    text-shadow: 0px 0px 20px #fff6;
}

h2 {
    color: red;
}

h3 {
    margin-bottom: 20px;
}

/* score */

#scoreDisplay {
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: 20px;
    z-index: 30;
    opacity: 0.7;
}
